<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test thread-count="5" name="seleniumUpgrade">
        <classes>
            <class name="test"/>
        </classes>
    </test> <!-- seleniumUpgrade -->
</suite> <!-- Default Suite -->
